html, body, header, nav, h1, a,
ul, li, button, div, h2, p, form,
label, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body, header, h1, a, ul, li,
h2, p, label, input, textarea {
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
}

button:hover {
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

#root {
  height: 100%;
}
