$sans-serif: "Helvetica Neue";

body, header, h1, a, ul, li,
h2, p, label, input, textarea, h3 {
  font-family: $sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.43;
  color: black;
}
