.credits {
  background: url('https://res.cloudinary.com/nguyenkevin16/image/upload/c_scale,w_1600/v1496971636/dustin-lee-19667_eu7hnf.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.credits-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 600px;
  padding: 50px;

  background: rgba(41, 41, 41, 0.5);
  border-top: 1px solid black;

  h4, ul, a, p {
    width: 50%;
    color: white;
  }

  h1 {
    font-size: 35px;
    margin-top: 75px;
    margin-bottom: 40px;
    color: #C7F464;

    text-transform: uppercase;
    letter-spacing: 4px;
  }

  h4 {
    font-size: 20px;
    margin: 15px 0;
  }

  ul, p {
    margin-left: 50px;
  }

  li {
    font-size: 15px;
    color: white;
  }

  a {
    color: #C7F464;
  }
}
