.discover {
  height: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
}

.discover-container {
  width: 100%;
  height: 800px;

  img {
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }
}

.discover-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 15%;
  z-index: 1;

  width: 100%;
  height: 40%;

  h1, p {
    color: white;
    text-align: center;
    margin: 10px 0;
  }

  h1 {
    font-size: 50px;
    letter-spacing: 6px;
    text-transform: uppercase;
  }

  p {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
}

.discover-tracks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  padding: 50px;

  background-color: antiquewhite;
}

.discover-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 15px;
  height: 255px;
  position: relative;

  box-shadow: 0 6px 4px 0 rgba(0,0,0,0.4), 0 0 0 1px rgba(0,0,0,0.2);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);

  img {
    border: 1px solid black;
    width: 200px;
    height: 200px;

    z-index: 9;
    text-align: center;
  }

  .discover-links {
    background-color: rgb(41,41,41);
    padding: 5px;
    border: 1px solid black;
    width: 190px;
    text-align: center;
  }

  a:hover {
    h3, h5 {
      color: #C7F464;
      text-decoration: underline;
    }
  }

  h3 {
    font-size: 16px;
    color: white;
    text-transform: capitalize;
  }

  h5 {
    color: #c0c5ce;
    text-transform: capitalize;
  }
}

.discover-overlay {
  margin: -241px 1px 0 0;
  height: 200px;
  position: relative;
  top: 18px;
  z-index: 10;
}

.discover-overlay:hover {
  background: url('https://res.cloudinary.com/nguyenkevin16/image/upload/v1484676444/System/play-button_2_lfji5p.png') center center no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  margin: -241px 1px 0 0;
  height: 200px;
  position: relative;
  top: 18px;
  z-index: 10;
  cursor: pointer;
}
