.discover {
  height: 100%;
  min-height: 800px;
  padding: 50px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.discover-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 15px;
  padding: 8px;

  border: 2px solid black;
  height: 260px;

  background-color: #4f5b66;

  position: relative;

  img {
    border: 1px solid black;
    width: 200px;
    height: 200px;

    z-index: 9;
    text-align: center;
  }

  .discover-links {
    background-color: #343d46;
    padding: 5px;
    border: 1px solid black;
    width: 190px;
    text-align: center;
  }

  a:hover {
    h3, h5 {
      color: #C7F464;
      text-decoration: underline;
    }
  }

  h3 {
    font-size: 16px;
    color: white;
    text-transform: capitalize;
  }

  h5 {
    color: #c0c5ce;
    text-transform: capitalize;
  }
}

.discover-overlay {
  margin: -241px 1px 0 0;
  height: 200px;
  position: relative;
  top: 18px;
  z-index: 10;
}

.discover-overlay:hover {
  background: url('https://res.cloudinary.com/nguyenkevin16/image/upload/v1484676444/System/play-button_2_lfji5p.png') center center no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  margin: -241px 1px 0 0;
  height: 200px;
  position: relative;
  top: 18px;
  z-index: 10;
  cursor: pointer;
}
