.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  padding: 0 25px;
  max-width: 100%;
  border-bottom: 2px solid black;

  color: white;
  background-color: #4f5b66;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 20%;
  height: 100%;
  color: white;
}

.navbar-right-content {
  display: flex;
  justify-content: flex-end;

  height: 100%;
  width: 100%;

  img, button {
    padding: 0 10px;
  }

  img {
    display: flex;
    align-self: center;
    width: 25px;
    height: 25px;
  }

  button {
    height: 100%;
    cursor: pointer;
    text-align: right;
  }

  button:hover {
    transition: all 0.4s ease 0s;
    background-color: #343d46;
    color: #C7F464;
    cursor: pointer;
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
}

.navbar-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: 100%;
}

.navbar-link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
  color: white;
}

.navbar-link:hover {
  transition: all 0.4s ease 0s;
  background-color: #343d46;
  color: #C7F464;
  cursor: pointer;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
