.navbar, .navbar-right, .navbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
}

.navbar-right, .navbar-left {
  margin: 10px 50px;
  width: 145px;
}

.navbar {
  height: 30px;
  max-width: 100%;
  padding: 5px;
  border-bottom: 2px solid black;

  background-color: #4f5b66;
}

.navbar-link {
  font-size: 20px;
  color: white;
}

.navbar-right button {
  border: 2px solid black;
  border-radius: 2px;
  padding: 3px 10px;

  background-color: #a7adba;
  font-weight: 400;
}

.navbar-right button:hover {
  transition: all 0.4s ease 0s;
  background-color: #ffeead;
  color: black;
}
