.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  color: white;
}

.navbar-left h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-left img {
  margin-right: 15px;
}

.navbar-left:hover {
  cursor: pointer;
}

.navbar-right, .navbar-left, .navbar-left h3 {
  margin: 0 20px;
  width: 200px;
  height: 100%;
}

.navbar {
  height: 30px;
  max-width: 100%;
  padding: 5px;
  border-bottom: 2px solid black;

  background-color: #4f5b66;
}

.navbar-link {
  font-size: 20px;
  color: white;
}

.navbar-right button {
  padding: 3px 10px;
  margin: 0 5px;
}

.navbar-right button:hover {
  transition: all 0.4s ease 0s;
  background-color: #ffeead;
  color: black;
  cursor: pointer;
}
