.playbar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 30px;
  z-index: 5;
  background-color: #343d46;

  audio {
    width: 100%;
    height: 100%;
    background-color: #343d46;
  }
}
