#audioplayer {
  position: fixed;
  bottom: 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  border-top: 1px solid lightgray;

  z-index: 14;
  background-color: whitesmoke;
}

#audiomiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

#playbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  width: 22%;
  height: 100%;
}

#audiocontrols {
  display: flex;
  justify-content: center;
  margin: 0 15px;

  button {
    height: 65px;
    width: 65px;
    margin: 2px;
    border: none;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    outline: none;
  }
}

#stopButton {
  height: 30px;
  width: 30px;
  border: none;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  float: right;
  outline: none;
}

.play{background: url('https://res.cloudinary.com/nguyenkevin16/image/upload/v1484852474/play-button_2_eqqtx7.png') ;}
.stop{background: url('https://res.cloudinary.com/nguyenkevin16/image/upload/v1484782669/letter-x_mgru3x.png') ;}
.pause{background: url('https://res.cloudinary.com/nguyenkevin16/image/upload/v1484852510/pause-button_pnhkrz.png') ;}

#timeline{
  width: 50%;
  height: 40px;
  float: left;
}

#time {
  display: flex;
  justify-content: space-between;
  width: 90px;
  margin-left: 10px;

  input {
    text-align: center;
    width: 45px;
  }
}

#playhead{
  position: relative;
  width: 10px;
  height: 100%;
  background-color: #C7F464;
  opacity: 0.5;
}

#track-info {
  display: flex;
  align-items: center;
  width: 30%;
  height: 100%;

  img {
    float: left;
    height: 100%;
    width: auto;
  }

  h5 {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-left: 30px;

    overflow-x: scroll;
    white-space: nowrap;
  }

  h5::-webkit-scrollbar {
    display: none;
  }

  a {
    width: 80%;
    height: 100%;
  }

  h5:hover {
    text-transform: underline;
    color: #C7F464;
  }
}
