.session-form, .session-form-inputs,
.session-form-header, .session-form-footer {
  // border: 2px solid red;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.session-form-inputs, .session-form-header, .session-form-footer {
  padding: 15px;
  margin: 5px;
}

.session-form {
  width: 25%;
  border: 2px solid black;
  border-radius: 2px;
}
