.track-form, .track-form-header {
  // border: 2px solid red;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  padding: 5px;
  margin: 5px;
  width: 450px;
}

.track-form-inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 15px;
  margin: 5px;
  width: 100%;
}

.track-form-footer, .track-form-header {
  justify-content: space-between;
  height: 65px;
}

.track-form-input-fields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  button {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid black;
    background: rgba(101, 115, 126, 0.6);
    color: white;
  }

  button:hover {
    transition: all 0.4s ease 0s;
    background: rgba(167, 173, 186, 1);
    color: black;
    cursor: pointer;
  }
}

.track-form-input {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;

  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  width: 100%;
  height: 100%;

  input {
    margin-top: 10px;
    border: 1px solid black;
    color: white;
    padding: 4px;
    width: 107%;
  }
}

.track-form-button {
  border-radius: 2px;
  padding: 5px;
  width: 30%;
  text-align: center;
  margin-top: 50px;

  border: 1px solid black;
  background-color: #a7adba;
  font-weight: 400;
}

.track-form-button:hover {
  transition: all 0.4s ease 0s;
  background-color: #ffeead;
  color: black;
  border: 1px solid black;
}

#track-form-modal {
  display: flex;
  max-width: 100%;
}

#track-form-modal img {
  width: 100%;
  height: 100%;
}

.track-form-header h3 {
  font-size: 25px;
  font-weight: 200;
}

.track-form-input-avatar {
  width: 175px;
  height: 175px;
  margin: 20px;

  background-color: #4f5b66;
  border: 1px solid black;

  img {
    height: 100%;
    width: 100%;
  }

  button {
    position: relative;
    width: 95%;
    padding: 5px;
    border: 1px solid black;
    background: rgba(101, 115, 126, 0.6);
    color: white;

    top: 0px;
    left: -1px;
  }

  button:hover {
    transition: all 0.4s ease 0s;
    background: rgba(167, 173, 186, 1);
    color: black;
    cursor: pointer;
  }
}

.track-form-errors {
  display: flex;
  justify-content: center;
  flex: 0 1 100%;

  ul {
    position: relative;
    left: 12px;
    list-style: circle;
  }

  li {
    color: red;
  }
}
