.track-index {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 80%;
  height: 700px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.track-index-sidebar {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  border-left: 1px solid black;
  height: 700px;
  width: 20%;

  overflow: auto;
  background-color: #4f5b66;

  h3 {
    padding: 35px;
    font-size: 15px;
    color: white;
  }

  button {
    width: 80%;
    height: 30px;
    text-align: center;
    margin: 15px;
    padding: 5px;
    border: 1px solid black;
    background: rgba(101, 115, 126, 0.6);
    color: white;
  }

  button:hover {
    transition: all 0.4s ease 0s;
    background: rgba(167, 173, 186, 1);
    color: black;
    cursor: pointer;
  }
}

// .track-index-item:first-of-type {
//   margin-top: 0;
// }

.track-index-item {
  display: block;
  position: relative;

  padding: 10px;
  margin-bottom: 5px;
  width: 85%;
  height: 210px;

  background-color: #4f5b66;
  border: 1px solid black;

  h3 {
    color: #C7F464;
  }

  h5 {
    color: white;
  }

  audio {
    margin: 5px;
  }
}

.track-index-item-img {
  float: left;
  width: 200px;
  height: 200px;
  margin: 3px;
  margin-right: 17px;

  background-color: black;
  border: 1px solid black;

  position: relative;

  img {
    height: 100%;
    width: 100%;

    z-index: 9;
    text-align: center;
  }
}

.track-index-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 60%;
  overflow: auto;

  h3 {
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px;
  }

  h5 {
    font-size: 14px;
    width: 100%;
  }

  a:hover {
    h3 {
      text-decoration: underline;
    }
  }

  button {
    width: 50%;
    text-align: center;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid black;
    background: rgba(101, 115, 126, 0.6);
    color: white;
  }

  button:hover {
    transition: all 0.4s ease 0s;
    background: rgba(167, 173, 186, 1);
    color: black;
    cursor: pointer;
  }
}

.track-index-buttons {
  display: flex;
  width: 300px;
}

.track-item-overlay {
  background: url('https://res.cloudinary.com/nguyenkevin16/image/upload/v1484595550/System/play-button.png') center center no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 202px;
  width: 202px;
  top: 13px;
  left: 13px;
  z-index: 3;
}

.track-item-overlay:hover {
  transition: all 0.4s ease 0s;
  background: url('https://res.cloudinary.com/nguyenkevin16/image/upload/v1484676444/System/play-button_2_lfji5p.png') center center no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 202px;
  width: 202px;
  top: 13px;
  left: 13px;
  z-index: 3;
}
