.trending {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: antiquewhite;
  width: 100%;
  height: 550px;

  padding: 50px 0 0;

  h1 {
    font-size: 24px;
    letter-spacing: 6px;
    text-transform: uppercase;

    height: 5%;
    color: rgb(52, 52, 52);
  }

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;

    color: rgb(108, 114, 121);
    margin: 15px 0px;
  }
}

.trending-subcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}

.trending-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 15px;

  box-shadow: 0 6px 4px 0 rgba(0,0,0,0.4), 0 0 0 1px rgba(0,0,0,0.2);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  
  height: 256px;

  position: relative;

  img {
    border: 1px solid black;
    width: 200px;
    height: 200px;

    z-index: 9;
    text-align: center;
  }

  .trending-links {
    background-color: rgb(41,41,41);
    padding: 5px;
    border: 1px solid black;
    width: 190px;
    text-align: center;
  }

  a:hover {
    h3, h5 {
      color: #C7F464;
      text-decoration: underline;
    }
  }

  h3 {
    font-size: 16px;
    color: white;
    text-transform: capitalize;
  }

  h5 {
    color: #c0c5ce;
    text-transform: capitalize;
  }
}

.trending-overlay {
  margin: -241px 1px 0 0;
  height: 200px;
  position: relative;
  top: 18px;
  z-index: 10;
}

.trending-overlay:hover {
  background: url('https://res.cloudinary.com/nguyenkevin16/image/upload/v1484676444/System/play-button_2_lfji5p.png') center center no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  margin: -241px 1px 0 0;
  height: 200px;
  position: relative;
  top: 18px;
  z-index: 10;
  cursor: pointer;
}
