.user-show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 850px;
}

.user-show-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 200px;;

  background-color: #65737e;
  border-bottom: 1px solid black;
}

.user-avatar {
  width: 125px;
  height: 125px;
  margin: 20px;

  background-color: #4f5b66;
  border: 1px solid black;
}
