<!DOCTYPE html>
<html>
<head>
  <title>encore</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- Begin Scripts -->
  <!-- <script src="http://widget.cloudinary.com/global/all.js"/> -->
  <!-- End Scripts -->
</head>
<body>

  <%= yield %>

</body>
</html>
